.message-like {
 background-color: gray;
}

.message-liked {
    background-color: red;
}

.message {
    display: flex;
    flex-direction: row;
    background-color: lightgrey;
    margin: 20px;
    width: 80%;
}

.message-user-avatar {
    width: 50px;
    height: 50px;
    overflow: hidden;
    padding: 10px;
    img {
        height: 100%;
        width: auto;
    }
}

.message-user-name {
    display: flex;
    justify-content: center;
    height: 30px;
    font-size: 0.8rem;
}

.message-body {
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    button {
        width: 50px;
        margin-top: 20px;
        margin-left: auto;
        margin-right: 50px;
    }
}